<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>


<div class="courses">
@for(course of courses; track trackCourse; let count = $count; 
let first =$first; let last =$last; let odd =$odd;){

    <h1>count {{count}}</h1>


<course-card 
[course]="course"
[index]="$index"
[class.is-first]="first"
[class.is-last]="last"
[class.is-even]="$even"
[class.is-odd]="odd"
(courseSelected)="onCourseSelected($event)" />
}
@empty{
    <h1>No courses Found!</h1>
}

</div>


